<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>

<body class="home">
    <div class="home-box">
        <header class="home__header">
            <div class="home__header__div1">
                <div class="home__header__div1--bars-logo">
                    <a href=""><i class="fa-sharp fa-solid fa-bars"></i></a>
                    <div class="home__header--logo">
                        <img src="/images/logoIsra.png" alt="">
                    </div>
                </div>
                <div class="home__header__div1--glass-truck">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                </div>
            </div>
            <div class="home__header__div2">
                <div class="home__header__div2--box">
                    <input type="text" placeholder="Buscar...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="home__header__div2--heartru">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                </div>
            </div>
            <nav class="home__header__nav">
                <div class="home__header__nav__div">
                    <div class="home__header__nav--logo">
                        <img src="/images/logoIsra.png" alt="">
                    </div>
                    <div class="home__header__nav__div1">
                        <a href="">mujeres</a>
                        <a href="">hombres</a>
                        <a href="">niños</a>
                        <a href="">deporte</a>
                        <a href="">tendencia</a>
                    </div>
                    <div class="home__header__nav__div2">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                        <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                        <button class="home__header--button"><a href="">ingresar</a></button>
                    </div>
                </div>
            </nav>
        </header>
    </div>


</body>

</html>