<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
    <title>D-toke | Home</title>
</head>

<body class="home">
    <main class="home__main">
        <section class="home__main__section__tabletBanner">

            <div class="home__main__section__tabletBanner-container">
                <div class="home__main__section__tabletBanner-container-box">
                    <div class="home__main__section__tabletBanner-container-box-title">
                        <h3 class="title-Banner">
                            <span>Nike</span>
                            <span class="air">Air</span>
                            <span>Max</span>
                        </h3>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse labore vitae consequatur
                            accusamus.</p>
                        <div class="buy-container">
                            <div class="buy-container-violeta">
                                <a href="">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                    <div class="home__main__section__tabletBanner-container-box-img">
                        <div class="box-imgBig">
                            <a href="">
                                <img src="/img/home-main/bannerTablet.png" alt="">
                            </a>
                        </div>
                        <div  class="home__main__section__tabletBanner-container-box-img-rigth">
                            <div>
                                <a href="">
                                    <img src="/img/home-main/imgRigth1.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/img/home-main/imgRigth1.png" alt="">
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <img src="/img/home-main/imgRigth1.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section class="mobile-Banners">
            <section class="home__main-cajaBanner">
                <div class="home__main-cajaBanner2">
                    <div class="home__main-cajaImg">
                        <a href="">
                            <img src="/img/home-main/banner-mobile.png" alt="">
                        </a>
                    </div>
                    <div class="home__main-cajaTxt">
                        <div class="home__main__cajaTxt-justdoit">
                            <p>Just do it</p>
                            <div class="home__main__cajaTxt-whitnike">
                                <span>whit </span><span class="nike">Nike</span>
                            </div>
                        </div>
                        <div class="home__main__cajaTxt-explore">
                            <a href="">Explorar ahora <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <div class="home__main__seeMore">
                <div class="home__main__seeMore-title">
                    <h2>Popular</h2>
                </div>
                <div class="home__main__seeMore-link">
                    <a href="">ver más <i class="fa-solid fa-angle-right"></i></a>
                </div>
            </div>
            <section class="home__main-Popular">
                <div class="home__main-cajaPopular">
                    <div class="home__main__popular-cajaImg">
                        <a href="">
                            <img src="/img/home-main/Popular.png" alt="">
                        </a>
                    </div>
                    <div class="home__main__popular-cajaTxt">
                        <div class="home__main__popular-cajaTxt-title">
                            <p class="home__main__popular-cajaTxt-nike">Nike</p>
                            <p class="home__main__popular-cajaTxt-model">Metcon X</p>
                            <p class="home__main__popular-cajaTxt-price">$27.999</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="home__main__section-cards">
            <div class="home__main__section__cards-container">
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product1.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>

                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product2.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product3.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product4.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product1.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product2.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product3.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product4.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product1.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product2.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product3.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
                <article class="home__main__section__cards-product tablet">
                    <div class="home__main__section__cards-img">
                        <a href="">
                            <img src="/img/home-main/product4.png" alt="">
                        </a>
                        <div class="home__main__section__card-product-heart">
                            <i class="fa-regular fa-heart"></i>

                        </div>
                    </div>
                    <div class="home__main__section__cards-text">
                        <h5 class="home__main__section__cards-description">
                            Adidas Yung-1
                        </h5>
                        <p class="home__main__section__cards-price">
                            $32.000
                        </p>
                    </div>
                </article>
            </div>

        </section>




    </main>
</body>

</html>