<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <title>D-toke | Home</title>
</head>
<body class="home">
    <div class="home-box">
        <header class="home__header">
            <div class="home__header__div1">
                <div class="home__header__div1--bars-logo">
                    <a href=""><i class="fa-sharp fa-solid fa-bars"></i></a>
                    <div class="home__header--logo">
                        <img src="/images/logoIsra.png" alt="">
                    </div>
                </div>
                <div class="home__header__div1--glass-truck">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                </div>
            </div>
            <div class="home__header__div2">
                <div class="home__header__div2--box">
                    <input type="text" placeholder="Buscar...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="home__header__div2--heartru">
                    <a href=""><i class="fa-solid fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                </div>
            </div>
            <nav class="home__header__nav">
                <div class="home__header__nav__div">
                    <div class="home__header__nav--logo">
                        <img src="/images/logoIsra.png" alt="">
                    </div>
                    <div class="home__header__nav__div1">
                        <a href="">mujeres</a>
                        <a href="">hombres</a>
                        <a href="">niños</a>
                        <a href="">deporte</a>
                        <a href="">tendencia</a>
                    </div>
                    <div class="home__header__nav__div2">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href=""><i class="fa-solid fa-heart"></i></a>
                        <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                        <button class="home__header--button"><a href="">ingresar</a></button>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <main class="home__main">
        <section class="home__main-cajaBanner">
            <div class="home__main-cajaBanner2">
                <div class="home__main-cajaImg">
                    <a href="">
                        <img src="/img/home-main/banner-mobile.png" alt="">
                    </a>
                </div>
                <div class="home__main-cajaTxt">
                    <div class="home__main__cajaTxt-justdoit">
                        <p>Just do it</p>
                        <div class="home__main__cajaTxt-whitnike">
                            <span>whit </span><span class="nike">Nike</span>
                        </div>
                    </div>
                    <div class="home__main__cajaTxt-explore">
                        <a href="">Explorar ahora <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="home__main__seeMore">
            <div class="home__main__seeMore-title">
                <h2>Popular</h2>
            </div>
            <div class="home__main__seeMore-link">
                <a  href="">ver más <i class="fa-solid fa-angle-right"></i></a> 
            </div>
        </div>
        <section class="home__main-Popular">
            <div class="home__main-cajaPopular">
                <div class="home__main__popular-cajaImg">
                    <a href="">
                        <img src="/img/home-main/Popular.png" alt="">
                    </a>
                </div>
                <div class="home__main__popular-cajaTxt">
                    <div class="home__main__popular-cajaTxt-title">
                        <p class="home__main__popular-cajaTxt-nike">Nike</p>
                        <p class="home__main__popular-cajaTxt-model">Metcon X</p>
                        <p class="home__main__popular-cajaTxt-price">$27.999</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home__main__section-cards">
            <div class="home__main__section__cards-container">
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <img src="/img/home-main/banner-mobile.png" alt="">
                    </div>
                    <div class="home__main__section__card-product-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <h5 class="home__main__section__cards-description">Adidas Yeezy Boost 700</h5>
                    <p class="home__main__section__cards-price">$30.000</p>
                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <img src="/img/home-main/banner-mobile.png" alt="">
                    </div>
                    <div class="home__main__section__card-product-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                
                    <h5 class="home__main__section__cards-description">Adidas Yeezy Boost 700</h5>
                    <p class="home__main__section__cards-price">$30.000</p>
                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <img src="/img/home-main/banner-mobile.png" alt="">
                    </div>
                    <div class="home__main__section__card-product-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <h5 class="home__main__section__cards-description">Adidas Yeezy Boost 700</h5>
                    <p class="home__main__section__cards-price">$30.000</p>
                </article>
                <article class="home__main__section__cards-product">
                    <div class="home__main__section__cards-img">
                        <img src="/img/home-main/banner-mobile.png" alt="">

                    </div>
                    <div class="home__main__section__card-product-heart">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <h5 class="home__main__section__cards-description">Adidas Yeezy Boost 700</h5>
                    <p class="home__main__section__cards-price">$30.000</p>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-section__1">
          <div>
            <h3>Company</h3>
            <ul>
              <li><a>About Us</a></li>
              <li><a>Blog</a></li>
              <li><a>Careers</a></li>
              <li><a>Contact Us</a></li>
            </ul>
          </div>
          <div>
            <h3>Support</h3>
            <ul>
              <li><a>Help Center</a></li>
              <li><a>Safety Center</a></li>
              <li><a>Communnity Guidelines</a></li>
            </ul>
          </div>
          <div>
            <h3>Legal</h3>
            <ul>
              <li><a>Cookies Policy</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Terms of Service</a></li>
              <li><a>Law Enforcement</a></li>
            </ul>
          </div>
          <div class="footer-section__1-google">
            <h3>Install App</h3>
            <div class="googlePlay">
              <img src="/images/googlePlay.jpg" />
              <img src="/images/appStore.jpg" />
            </div>
          </div>
        </section>
        <section class="footer-section__2">
          <div class="footer-section__2-copy">
              &copy; 2023 All rights reserved
          </div>
          <div class="footer-section__2-redes">
              <i class="fab fa-instagram"></i>
              <i class="fas fa-basketball-ball"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>
          </div>
        </section>
      </footer>
    
</body>
</html>