<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/e4646141a1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body class="body__register">
    <div class="register">
      <header class="register__header">
        <span class="register__header-back">
          <img src="/images/back.png" />
        </span>
        <span class="register__header-logo">
          <img src="/images/logoIsra.png" alt="" />
        </span>
      </header>
      <h1>Hola! Regístrese para continuar</h1>
      <form>
        <div class="register__input">
          <div class="register__input-item">
            <input type="text" placeholder="Nombre de usuario" />
          </div>
          <div class="register__input-item">
            <input type="text" placeholder="Email" />
          </div>
          <div class="register__input-item">
            <input type="password" placeholder="Contraseña" />
          </div>
          <div class="register__input-item">
            <input type="password" placeholder="Confirmar Contraseña" />
          </div>
        </div>
        <div class="register__button">
          <button>Registrese</button>
        </div>
      </form>
      <div class="register__footer">
        <h4>
          <span>O Registrese con</span>
        </h4>
        <div class="register__footer-redes">
          <span>
            <img src="/images/facebook_ic.svg" />
          </span>
          <span>
            <img src="/images/google_ic.svg" />
          </span>
          <span>
            <img src="/images/Vector.png" />
          </span>
        </div>
      </div>
      <div class="register__sesion">
        <h3>¿Ya tienes una cuenta?</h3>
        <a> Inicia sesión</a>
      </div>
    </div>
    <div class="register__tableAndDesktop">
      <h2>Regístrate!</h2>
      <div class="register__tableAndDesktop-content">
          <div class="register__tableAndDesktop-contain-1">
            <form>
                <div class="registertableAndDesktop__input">
                  <div class="registertableAndDesktop__input-item">
                    <label for="">Nombre de usuario</label>
                    <input type="text" placeholder="Nombre de usuario" />
                  </div>
                  <div class="registertableAndDesktop__input-item">
                      <label for="">Correo electrónico</label>
                      <input type="text" placeholder="Email" />
                  </div>
                  <div class="registertableAndDesktop__input-item">
                    <label for="">Contraseña</label>
                    <input type="password" placeholder="Contraseña" />
                  </div>
                  <div class="registertableAndDesktop__input-item">
                    <label for="">Confirmación de contraseña</label>
                    <input type="password" placeholder="Confirmar Contraseña" />
                  </div>
                </div>
                <div class="registertabletAndDesktop__sesion">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <a> Inicia sesión</a>
                  </div>
                <div class="registertableAndDesktop__button">
                  <button>Registrese</button>
                </div>
              </form>
          </div>
          <div class="register__tableAndDesktop-contain-2">
            <img  class="imageRegister" src="/images/imageRegister.png"/>
            <img class="logoRegister" src="/images/logoRegister.png"/>
          </div>

      </div>
    </div>
  </body>
</html>
