.admin{
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  background-color: #6a707c;
  color:#d6ccf6
}
.login-container {
  height: 100vh;
}
.conten-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__conten-login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body__login {
  height: 100%;
}
.login {
  background-color: #d6ccf6;
  height: 100%;
}

.login h1 {
  font-size: var(--font-subtitle-mobile);
}
.login form {
  padding: 20px 10px;
}
.login form .login__input {
  padding: 0 10px;
}
.login form .login__input .login__input-item {
  margin: 30px 0;
  display: flex;
}
.login form .login__input .login__input-item input {
  width: 100%;
  border: none;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: var(--font-mobile);
}
.login form .login__input .login__input-item input:focus {
  outline: none;
}
.login form .login__input .login__input-item input::placeholder {
  color: #8391a1;
}
.login .login__text-recuperar {
  font-size: 14px;
  color: #6a707c;
  text-align: end;
  margin: 20px 0;
}
.login form .login__button {
  display: flex;
}
.login form .login__button button {
  width: 100%;
  padding: 20px 0;
  background-color: #3506cd;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: var(--font-mobile);
}
.login .login__footer {
  overflow: hidden;
}
.login .login__footer h4 {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.login .login__footer h4 span {
  overflow: hidden;
  z-index: 6;
  position: relative;
}
.login .login__footer h4 span::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e8ecf4;
  right: 105%;
  top: 8px;
  width: 130%;
}
.login .login__footer h4 span::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #e8ecf4;
  left: 105%;
  top: 8px;
  width: 130%;
}

.login .login__footer .login__footer-redes {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.login .login__footer .login__footer-redes span {
  background-color: #e8ecf4;
  padding: 10px 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}
.login .login__footer .login__footer-redes span img {
  width: 20px;
}
.login .login__sesion {
  display: flex;
  margin-top: 50px;
  gap: 5px;
  justify-content: center;
}

.login .login__sesion h3,
a {
  font-size: var(--font-paragraph-mobile);
}
.login .login__sesion a {
  color: #3506cd;
  border-bottom: 1px solid #3506cd;
  cursor: pointer;
}

.login__tableAndDesktop {
  display: none;
}
@media (min-width: 481px) {
  .login form {
    padding: 30px 40px;
  }
  .login .login__footer .login__footer-redes {
    padding: 0 40px;
  }
}
@media (min-width: 768px) {
  .body__login {
    background: linear-gradient(to right, #ffffff 70%, #3506cd 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 20px 90px 20px;
  }
  .login {
    display: none;
  }
  .login__tableAndDesktop {
    display: flex;
    width: 90%;
    max-width: 1440px;
    height: 100%;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }

  .login__tableAndDesktop-contain-1 {
    width: 50%;
    height: 100%;
  }
  .login__tableAndDesktop h2 {
    font-size: var(--font-subtitle-tablet);
  }
  .login__tableAndDesktop-contain-1 form p {
    margin: 20px 0;
    font-size: var(--font-paragraph-tablet);
    color: #b9b8b8;
  }
  .login__tableAndDesktop-contain-1 form {
    width: 70%;
  }
  .logintableAndDesktop__input-item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .logintableAndDesktop__input-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b9b8b8;
    font-size: 10px;
  }
  .logintableAndDesktop__input-checkbox-input {
    display: flex;
    /* align-items: center; */
    gap: 5px;
  }

  .logintableAndDesktop__input-item label {
    margin-bottom: 10px;
    font-size: var(--font-paragraph-tablet);
  }
  .logintableAndDesktop__input-item input {
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 10px;
  }
  .logintabletAndDesktop__sesion {
    display: flex;
    margin: 20px 0;
    gap: 5px;
    justify-content: center;
  }

  .logintabletAndDesktop__sesion h3,
  a {
    font-size: var(--font-paragraph-tablet);
  }
  .logintabletAndDesktop__sesion a {
    color: #3506cd;
    border-bottom: 1px solid #3506cd;
    cursor: pointer;
  }
  .logintableAndDesktop__button button {
    width: 100%;
    background-color: #3506cd;
    color: #ffff;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    margin: 7% 0;
    transition: all .3s ease;
  }
  
  .login__tableAndDesktop-contain-2 {
    width: 50%;
    height: 100%;
    background-image: url(/img/login/login-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  .login__tableAndDesktop-contain-2 .logologin {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) {
  .login__tableAndDesktop {
    max-height: 650px;
  }
  .login__tableAndDesktop h2 {
    font-size: var(--font-subtitle-desktop);
  }
  .login__tableAndDesktop-contain-1 form p {
    font-size: var(--font-paragraph-desktop);
  }
  .logintableAndDesktop__input-item label {
    font-size: var(--font-paragraph-desktop);
  }
  .logintableAndDesktop__input-item input {
    font-size: var(--font-paragraph-desktop);
    padding: 15px 10px;
  }
  .logintableAndDesktop__input-checkbox {
    font-size: var(--font-paragraph-desktop);
  }
  .logintabletAndDesktop__sesion h3,
  a {
    font-size: var(--font-paragraph-desktop);
  }
  .logintableAndDesktop__button button {
    font-size: var(--font-paragraph-desktop);
    margin: 5% 0;
    padding: 10px 0;
  }
}
/* @media (min-width: 1200px) {
  .login__tableAndDesktop {
    max-height: 550px;
  }
  .login__tableAndDesktop h2 {
    font-size: var(--font-subtitle-desktop-xl);
  }
  .login__tableAndDesktop-contain-1 form p {
    font-size: var(--font-paragraph-desktop-xl);
  }
  .logintableAndDesktop__input-item label {
    font-size: var(--font-paragraph-desktop-xl);
  }
  .logintableAndDesktop__input-item input {
    font-size: var(--font-paragraph-desktop-xl);
    padding: 15px 10px;
  }
  .logintableAndDesktop__input-checkbox {
    font-size: var(--font-paragraph-desktop-xl);
  }
  .logintabletAndDesktop__sesion h3,
  a {
    font-size: var(--font-paragraph-desktop-xl);
  }
  .logintableAndDesktop__button button {
    font-size: var(--font-paragraph-desktop-xl);
    margin: 5% 0;
    padding: 10px 0;
  }
} */
