<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Cart'}) %>

<body>
  
  <%- include('partials/header') %>

    <main class="mainCart">
      <h1 class="mainCart__h1">mi carrito</h1>
      <p class="mainCart__cantidadDeProductos">1 productos</p>
      <section class="productCard__main__section">
        <article class="productCard__main__section__article1" data-aos="zoom-in-right">
          <div class="productCard__main__section__article1__div1">
            <div class="productCard__main__section__article1__div1--box1" >
              <a href="productDetail"><img src="/images/products/Nike_Air-Zoom.jpg" alt="images zapanike"></a>
            </div>
            <div class="productCard__main__section__article1__div1--box2">
              <p>zapatilla Nike Air Max Excee</p>
              <p>talle: 36/36.5</p>
              <p>item No: NICD5432-003_6.5_1</p>
              <p>Editar Producto</p>
              <div class="productCard__main__section__article1__div2--box1">
                <p><b>cantidad</b></p>
                <button><a href=""></a>1<i class="fa-solid fa-caret-down"></i></button>
              </div>
              <div class="productCard__main__section__article__div2--h1">
                <h1>$57.499</h1>
              </div>
            </div>
          </div>
          <div class="productCard__main__section__article1__div2">
            
          </div>
        </article>
        <article class="productCard__main__section__article2" data-aos="zoom-in-left">
          <p>¿tenés un código de promoción?</p>
          <div class="productCard__main__section__article2__div1">
            <input type="text" placeholder="Ingresá tu Código"></input>
            <button><a href="">validar</a></button>
          </div>
          <p>calculá el costo de envío</p>
          <div class="productCard__main__section__article2__div2">
            <input type="text" placeholder="Código Postal"></input>
            <button><a href="">calcular</a></button>
          </div>
          <div class="productCard__main__section__article2__div3">
            <div class="productCard__main__section__article2__div3--p">
              <div>
                <p>costo de Envio Regular</p>
              </div>  
              <div>
                <p>$1</p>
              </div>
            </div>
            <div class="productCard__main__section__article2__div3--p">
              <div>
                <p>subtotal</p>
              </div>
              <div>
                <p>$114.998</p>
              </div>
            </div>
            <div class="productCard__main__section__article2__div3--p">
              <div>
                <p>envío desde</p>
              </div>
              <div>
                <p>$1</p>
              </div>
            </div> 
            <div class="productCard__main__section__article2__div3--p"> 
              <div>
                <p>promición Envio</p>
              </div>
              <div>
                <p>$1</p>
              </div>
            </div>
            <div class="productCard__main__section__article2__div3--p">
              <div>
                <p>total</p>
              </div>
              <div>
                <p>$114.998</p>
              </div>
            </div>
          </div>    
              <div class="productCard__main__section__article2__div3">
                <button><a href="">comprar</a></button>
              </div>
            </div>
        </article>
      </section>  
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Envíos y devoluciones
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Envíos a todo el país, excepto a las provincias de Misiones y Tierra del
                        Fuego.</strong> Entregas a domicilio o podes retirar en puntos
                    seleccionados. Devolución gratuita dentro de un plazo de 30 días. <a
                        href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Metodos de pago
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Contamos con 2 cuotas sin interés en todos los productos y exclusivas
                    promociones bancarias. Aceptamos Tarjetas de Crédito, Tarjetas de Débito y
                    Mercado Pago. <a href="#">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include('partials/footer') %>
    
  <!-- AOS -->
  <script>
      AOS.init();
    </script>

</body>
</html>