<footer class="footer">
  <div class="footer__content container-lg">
    <section class="footer-section__1 d-flex flex-column align-items-center
                    flex-md-row justify-content-md-between align-items-md-center">
      <div class="text-center text-md-start">
        <h3>Company</h3>
        <ul >
          <li><a>About Us</a></li>
          <li><a>Blog</a></li>
          <li><a>Careers</a></li>
          <li><a>Contact Us</a></li>
        </ul>
      </div>
      <div class="text-center text-md-start">
        <h3>Support</h3>
        <ul >
          <li><a>Help Center</a></li>
          <li><a>Safety Center</a></li>
          <li><a>Communnity Guidelines</a></li>
          <li><a>Equipo</a></li>
        </ul>
      </div>
      <div class="text-center text-md-start">
        <h3>Legal</h3>
        <ul>
          <li><a>Cookies Policy</a></li>
          <li><a>Privacy Policy</a></li>
          <li><a>Terms of Service</a></li>
          <li><a>Law Enforcement</a></li>
        </ul>
      </div>
      <div class="footer-section__1-google d-none 
                 d-md-block">
        <h3>Install App</h3>
        <div class="googlePlay d-flex flex-column gap-2">
          <img src="/images/googlePlay.jpg" />
          <img src="/images/appStore.jpg" />
        </div>
      </div>
    </section>
    <section class="footer-section__2">
      <div class="footer-section__2-copy">&copy; 2023 All rights reserved</div>
      <div class="footer-section__2-redes">
        <i class="fab fa-instagram"></i>
        <i class="fas fa-basketball-ball"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </section>
  </div>
</footer>
